<%= turbo_frame_tag "expense-form" do %> 
  <%= form_with(model: expense) do |form|%>
    <div class="row">
      <div class="col-3">
        <%= form.text_field :particular, class: "form-control" %>
      </div>
      <div class="col-3"><%= form.text_field :amount, class: "form-control" %></div>
      <div class="col-3"><%= form.text_field :remark, class: "form-control" %></div>
      <div class="col-3">
        <%= form.submit class: "btn btn-dark" %>
        <%= link_to  "Cancel", expenses_path, {class: "btn btn-dark"} %>
      </div>
    </div>
  <% end %>
<% end %>
