
  <%= form_with(model: expense) do |form| %>
  <div class="grid grid-cols-4 gap-1">
      <div>
        <%= form.text_field :particular, class: "form-control" %>
      </div>
      <div>
        <%= form.text_field :amount, class: "form-control" %>
      </div>
      <div>
        <%= form.text_field :remark, class: "form-control" %>
      </div>
      <div class="inline">
        <%= form.submit class: "btn btn-dark" %>
      </div>  
    <div>
  </div>
</div>
<% end %>